.example-container {
  max-height: 400px;
  width: 80%;
  margin: auto;
  overflow: auto;
}

table {
  width: 100%;
}

.makeleft {
  text-align: left;
  padding: 20px;
}


.inputForm {
  width: 80%;
  button{
    margin: 5px ;
  }

}
