<div class="prime-table-cls">

<p-table [columns]="cols" [value]="tableData"
         [(selection)]="selectedData" [dataKey]="datakey" >
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3em">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>

      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td>
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>

      <td *ngFor="let col of columns">
        <span  pEditableColumn ><input type="text" [(ngModel)]="rowData[col.field]"></span>
    </tr>
  </ng-template>
</p-table>
</div>
