<!--https://stackblitz.com/edit/angular-responsive-material-grid-leocaseiro-->

<!--<mat-grid-list   rowHeight="2:1">-->

<!--  <mat-grid-tile>-->
<!--    <pb-mind-check> Loading..</pb-mind-check>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile>-->
<!--    <app-viewcount [browserData]="browserData">Loading........</app-viewcount>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile>-->
<!--    <pb-view-count-by-country [countryData]="countryData">Loading.....</pb-view-count-by-country>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->


<div class="widget-cards">

  <pb-mind-check style="display: none"> Loading..</pb-mind-check>
  <app-viewcount [browserData]="browserData">Loading........</app-viewcount>
  <pb-view-count-by-country [countryData]="countryData">Loading.....</pb-view-count-by-country>
  <pb-latest-changes>Loading...</pb-latest-changes>


</div>

