<main id="main" class="site-main" role="main">
  <header class="page-header">

    <h1 class="page-title">HTML Resources</h1>
    <!-- .page-title -->

    <!-- .breadcrumb -->
  </header><!-- .page-header -->

  <article id="page-44" class="post-44 page type-page status-publish hentry">
    <div class="entry-content">


      <div class="wp-block-image"><figure class="aligncenter"><a href="https://1.bp.blogspot.com/-R3YBs48jMIg/XiNtsCtmtTI/AAAAAAAAmIY/8uGEzQQGYLQGyONJUxlQRNNFDgUqGon7gCLcBGAsYHQ/s1600/99493D2A-0CD7-4ABC-8DA5-2C2BB0B7654C.jpeg"><img decoding="async" src="https://1.bp.blogspot.com/-R3YBs48jMIg/XiNtsCtmtTI/AAAAAAAAmIY/8uGEzQQGYLQGyONJUxlQRNNFDgUqGon7gCLcBGAsYHQ/s200/99493D2A-0CD7-4ABC-8DA5-2C2BB0B7654C.jpeg" alt=""></a></figure></div>



      <h3 class="wp-block-heading"><strong><br></strong></h3>



      <h3 class="wp-block-heading"><strong>Hypertext Markup Language is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript.</strong></h3>



      <p><strong>Where to Learn ???</strong></p>



      <p><strong>Here are some links so you can learn HTML free,</strong></p>



      <ol><li>&nbsp;<a href="https://www.w3schools.com/html/default.asp">W3 School</a></li><li>&nbsp;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML">MDN</a></li><li>&nbsp;<a href="https://html.com/">HTML DOT COM</a></li><li>&nbsp;<a href="https://www.learn-html.org/">Learn HTML</a></li><li>&nbsp;<a href="https://www.tutorialspoint.com/html/index.htm">Tutorials Point</a></li><li>&nbsp;<a href="https://www.quackit.com/html/tutorial/">QuackIT</a></li></ol>



      <p><strong>If you know other sites that are free, Fell free to add to the comment section.&nbsp;</strong></p>

    </div> <!-- entry-content clearfix-->

    <div id="comments" class="comments-area">
    </div> <!-- .comments-area -->				</article>
</main>
